body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 auto;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
/*Titles*/
.features-title,
.team-title,
.portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

/*Text deafult*/
.text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}

/*Hover, Focus, Visited*/
.button:hover,
.button:focus {
  background-color: #404bbf;
}

.menu-link:hover,
.menu-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

.menu-link:visited {
  color: #2e2f42;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/*Head*/
.logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-right: 76px;
  display: flex;
}

.studio {
  color: #2e2f42;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}

.head {
  display: flex;
  justify-content: space-between;
}

.nav-header {
  display: flex;
  align-items: center;
}
.menu-header {
  display: flex;
}
.header-contact-list {
  display: flex;
  gap: 40px;
}

.header-menu-item:not(:last-child) {
  margin-right: 40px;
}

.menu-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
  padding: 24px 0;
  display: block;
}

.contact {
  font-style: normal;
}

.contact-link {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}

/*Section 1 Hero Header*/

.hero-section {
  background-color: #2e2f42;
  padding: 188px 0;
}

.hero-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 1.12px;
  max-width: 496px;
  margin-bottom: 48px;
}

.button {
  color: #ffffff;
  background-color: #4d5ae5;
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
}

/*Section 2 features*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features {
  padding: 120px 0;
}

.features-list {
  display: flex;
  gap: 24px;
}
.features-list-items {
  width: calc((100% - 3 * 24px) / 4);
}
.subtitle-features {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.text-features {
  color: #434455;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}

/*Section 3 Our Team*/
.team-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-title {
  margin-bottom: 72px;
}
.cards-team {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.team-card-text {
  padding: 32px 0;
}

.subtitle-team {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.team-section .text {
  text-align: center;
}

.team-section .social-link {
  color: #f4f4fd;
  background-color: #4d5ae5;
}

/*Section 4 Portfolio*/
.portfolio {
  padding: 120px 0 120px 0;
}
.portfolio-title {
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-cards {
  background: var(--WHITE, #fff);

  width: calc((100% - 48px) / 3);
}
.portfolio-cards-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-subtitle {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

/*Footer*/
.footer-section {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-section .studio {
  color: #f4f4fd;
}
.footer-section .logo {
  margin-bottom: 16px;
  display: inline-block;
}
.footer-section .text {
  color: #f4f4fd;
  max-width: 264px;
  margin: 0;
}
